{% extends 'profiles/base.html' %}

{% block title %}{{ current_user.username }} Profile{% endblock %}

{% block content %}
<header>
    <div class="container">
        <div class="profile">
            <div class="profile-image">
                <img src="{{ current_user.profile_picture }}" alt="" style=" height: 112px; width: 112px; max-height:112px; max-width: 112px; border-radius: 50%; overflow: hidden;">
            </div>

            <div class="profile-user-settings">
                <h1 class="profile-user-name">{{ current_user.username }}</h1>

                {% if is_own_profile %}
                <button class="btn profile-edit-btn" onclick="redirectToProfileEdit()">Edit Profile</button>
                {% elif not is_following %}
                    {% include 'follows/follow.html' %}
                {% else %}
                {% include 'follows/unfollow.html' %}
                    {% endif %}
            </div>

            <div class="profile-stats">
                <ul>
                    <li><span class="profile-stat-count">{{ recipe_count }}</span> posts</li>
                    <a style="color: black; text-decoration: none;"
                        href="{% url 'followers' username=current_user.username %}">
                        <li><span class="profile-stat-count">{{ followers_count }}</span> followers</li>
                    </a>
                    <a style="color: black; text-decoration: none;"
                        href="{% url 'followings' username=current_user.username %}">
                        <li><span class="profile-stat-count">{{ following_count }}</span> following</li>
                    </a>

                </ul>
            </div>

            <div class="profile-bio">
                <p><span class="profile-real-name">{{ current_user.fname }} {{ current_user.lname }}</span> {{current_user.bio }}</p>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="container">
        <div class="gallery">
            <!-- Gallery items go here -->
        </div>
    </div>
</main>

<script>
    function redirectToProfileEdit() {
        window.location.href = "{% url 'edit_profile' %}";
    }
</script>

{% endblock %}