<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Followers</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'follows/css/follows.css' %}">
</head>

<body>
    <div class="container">
        <h1>Followers</h1>
        <section class="followers">
            <ul id="followers-list">
                {% for follower in followers_list %}
                <a href="{% url 'profile' username=follower.username %}" style="text-decoration: none;">
                    <li>
                        <table cellpadding="14" style="text-align: center; width: 100%; color: black">
                            <tr>
                                <td>
                                    <img src="{{ follower.uid.profile.profile_picture.url}}"
                                        alt="{{ follower.username }}"
                                        style="height: 54px; width: 55px; max-height: 54px; max-width: 55px; border-radius: 50%; overflow: hidden;">
                                </td>
                                <td>
                                    <span>{{ follower.fname }} {{ follower.lname }}</span>
                                </td>
                            </tr>
                        </table>
                    </li>
                </a>
                {% empty %}
                <li>No followers found.</li>
                {% endfor %}
            </ul>
        </section>
    </div>

</body>

</html>