<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Following</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'follows/css/follows.css' %}">
</head>

<body>
    <div class="container">
        <h1>Following</h1>
        <section class="followings">
            <ul id="followings-list">
                {% for following in followings_list %}
                <li>
                    <a href="{% url 'profile' username=following.username %}" style="text-decoration: none; color: black;">
                        <table cellpadding="14" style="text-align: center; width: 100%;">
                            <tr>
                                <td>
                                    {% if following.profile_picture %}
                                    <img src="{{ following.profile_picture }}" alt="{{ following.username }}'s profile picture" style="height: 50px; width: 50px; border-radius: 50%;">
                                    {% else %}
                                    <img src="{% static 'profiles/images/no-profile.png' %}" alt="No profile picture" style="height: 50px; width: 50px; border-radius: 50%;">
                                    {% endif %}
                                </td>
                                <td>
                                    <span>{{ following.fname }} {{ following.lname }}</span>
                                </td>
                            </tr>
                        </table>
                    </a>
                </li>
                {% empty %}
                <li>Not following anyone yet.</li>
                {% endfor %}
            </ul>
        </section>
    </div>
</body>

</html>
