.container-edit-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin: 0;
}

header {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

table {
  width: 100%;
  margin-top: 20px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.4); /* Semi-transparent background */
  border-radius: 15px; /* Optional: Rounded corners */
}

td {
  padding: 10px;
}

input[type="text"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  border: 1px solid #cccccc;
  background: rgba(255, 255, 255, 0.4); /* Semi-transparent background */
  border-radius: 15px; /* Optional: Rounded corners */
}


input[type="text"]:focus {
  border-color: #007bff;
  outline: none;
}

label {
  display: block;
  margin-bottom: 8px;
  color: black;
}

input[type="submit"] {
  display: block;
  width: 100%;
  padding: 12px;
  background: #007bff;
  /* Blue color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}

input[type="submit"]:hover {
  background: #0056b3;
  /* Darker blue */
  transform: scale(1.05);
}

textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  resize: vertical;
  min-height: 100px;
  transition: border-color 0.3s;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.4); /* Semi-transparent background */
  border-radius: 15px; /* Optional: Rounded corners */
}

textarea:focus {
  border-color: #007bff;
  outline: none;
}