{% extends 'base/base.html' %}

{% block title %}Upload Recipe{% endblock %}

{% block css_static %}
{% load static %}
<link rel="stylesheet" href="{% static 'recipes/css/upload_recipe.css' %}">
{% endblock %}

{% block content %}
<header>
    <h1>Upload Recipe</h1>
</header>

<div class="container-up-recipe">
    {% include 'base/error.html' %}
    <div class="row-upload">
        <form method="post" action="{% url 'upload_recipe_action' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="recipe_name">Recipe Name:</label>
                <input type="text" name="recipe_name" id="recipe_name" required>
            </div>
            <div class="form-group">
                <label for="total_time">Total Time:</label>
                <input type="text" name="total_time" id="total_time" required>
            </div>
            <div class="form-group">
                <label for="dishType">Dish Type:</label>
                <select name="dishType" id="dishType" required>
                    {% for category in categories %}
                    <option value="{{ category.dishtype }}" {% if recipe.dishType == category.dishtype %}selected{% endif %}>
                        {{ category.dishtype }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="description">Description:</label>
                <textarea name="description" id="description" required></textarea>
            </div>

            <div class="form-group">
                <label for="photo">Photo:</label>
                <input type="file" name="photo" id="photo" accept="image/*"><br>
            </div>

            <div class="form-group">
                <label for="video">Video:</label>
                <input type="file" name="video" id="video" accept="video/*"><br>
            </div>
            <div class="form-group">
                <label for="instruction">Instruction:</label>
                <textarea name="instruction" id="instruction" required></textarea><br>
            </div>
            <button type="submit">Upload Recipe</button>
        </form>
    </div>
</div>

{% endblock %}
