<!DOCTYPE html>
<html>
<head>
  <title>View Recipe</title>
  {% load static %}
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <!-- font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
  <!-- main css -->
  <link rel="stylesheet" href="{% static 'recipes/css/view_recipe.css' %}" />
  <link rel="stylesheet" href="{% static 'interactions/css/view_comment.css' %}" />
  <link rel="stylesheet" href="{% static 'interactions/css/rate_comment.css' %}">
</head>
<body>
  <main class="main-container">
    <article class="main-contents">
      <!--Hero-->
      <section class="hero">
        <div class="media">
          {% if recipe.video %}
          <div class="image">
            <video width="200px" height="200px" controls>
            <source src="{{ recipe.video.url }}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          </div>
          {% elif recipe.photo %}
          <div class="image">
            <img src="{{ recipe.photo.url }}" alt="{{ recipe.recipe_name }}">
          </div>
          {% else %}
          <p>No media available</p>
          {% endif %}
        </div>
        
        {% if is_author %}
        <form method="get" action="{% url 'edit_recipe' recipe.id %}">
          <button type="submit">Edit</button>
        </form>
        {% include 'recipes/delete_recipe.html' %}
        {% endif %}
        {% include 'bookmarks/bookmark_recipe.html' %}

        <a href="{% url 'profile' username=recipe.user.username %}">Profile</a>

        <h1>{{ recipe.recipe_name }}</h1>
        <p class="description">{{ recipe.description }}</p>
      </section>

      <!--preparation time-->
      <section class="prep-time">
        <h3>Preparation Time</h3>
        <ul class="list">
          <li><span class="bold">Total:</span> {{ recipe.total_time }}</li>
          <li><span class="bold">Dish Type:</span> {{ recipe.dishType }}</li>
        </ul>
      </section>

      <hr>

      <!--instructions-->
      <section class="instructions">
        <h2 class="heading2">Instructions</h2>
        <ul class="numbers">
          <li>
            {{ recipe.instruction }}
          </li>
        </ul>
      </section>
      <hr>

      <!-- testimonials -->
      <section id="testimonials">
        <div class="testimonial-box-container">
            {% for rating in ratings %}
            <div class="testimonial-box">
                <div class="box-top">
                    <!-- profile -->
                    <div class="profile">
                        <!-- img -->
                        <div class="profile-img">
                            {% if rating.user.profile.profile_picture %}
                            <img src="{{ rating.user.profile.profile_picture.url }}" alt="{{ rating.user.username }}" />
                            {% endif %}
                        </div>
                        <!-- name and username -->
                        <div class="name-user">
                            <strong>{{ rating.user.get_full_name }}</strong>
                            <span>{{ rating.user.username }}</span>
                        </div>
                    </div>

                    <!-- reviews -->
                    <div class="reviews">
                        {% for i in "12345" %}
                        {% if i|add:"0" <= rating.rating %}
                        <i class='bx bxs-star'></i>
                        {% else %}
                        <i class='bx bx-star'></i>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <!-- Comments -->
                <div class="client-comment">
                    {% with comments|dictsort:"created_at" as sorted_comments %}
                    {% for comment in sorted_comments %}
                    {% if comment.user == rating.user %}
                    <p>{{ comment.comments }}</p>
                    <small>Posted: {{ comment.created_at }}</small>
                    {% if comment.user == user %}
                    <a href="javascript:void(0);" onclick="toggleEditForm();" class="btn edit-btn">Edit</a>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    {% endwith %}
                </div>
            </div>
            {% empty %}
            <p>No ratings yet.</p>
            {% endfor %}
        </div>
      </section>

      <div class="wrapper">
        <!-- Form will be included based on the conditions -->
        {% if current_rating or user_comments %}
        <div id="edit-form-container" style="display: none;">
          {% include 'interactions/edit_rate_post.html' %}
        </div>
        {% else %}
        <!-- Include form for submitting a new rating and comment -->
        <div id="submit-form-container">
          {% include 'interactions/rate_post.html' %}
        </div>
        {% endif %}
      </div>
    
    </article>
  </main>

  <script src="{% static 'interactions/js/form-toggle.js' %}"></script>
  <script src="{% static 'interactions/js/rating.js' %}"></script>
</body>
</html>
