/* base_card/cards.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}