<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Received</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'feedback/css/feedback_success.css' %}">
</head>
<body>
    <div class="container">
        <h1>Thank You!</h1>
        <p>We truly appreciate your feedback. Your input helps us improve and provide a better experience.</p>
        <a href="{% url 'homes' %}">Return to Home</a>
    </div>
</body>
</html>