{% extends 'base/base.html' %}

{% block title %}Feedback Form{% endblock %}

{% block css_static %}
{% load static %}
<link rel="stylesheet" href="{% static 'feedback/css/feedback_form.css' %}">
{% endblock %}

{% block content %}
<header>
    <h1>Feedback</h1>
</header>
<div class="container-feedback-form">
    <div class="feedback-center">
        <form action="{% url 'feedbackForm' %}" method="post">
            {% csrf_token %}
            <label for="feedback">Message</label>
            <textarea id="feedback" placeholder="Type your feedback here..." name="message" cols="80"
                rows="10"></textarea>

            <button type="submit" class="submit-button">submit</button>
        </form>
    </div>
</div>
{% endblock %}
