<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% load custom_filters %}
  <title>{% block title %}{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'base/css/base.css' %}" />
  {% block css_static %}{% endblock %}
</head>

<body>
  <div class="wrapper">
    <div class="container">
      <div class="logo">
        <!-- Logo SVG here -->
      </div>
      <ul class="link-items">
        <li class="link-item {% if current_url == '/' or current_url == '/home/' %}active{% endif %}">
          <a href="{% url 'homes' %}" class="link">
            <ion-icon name="home-outline"></ion-icon>
            <span style="--i: 1">Home</span>
          </a>
        </li>

        <li class="link-item {% if current_url == '/search/' %}active{% endif %}">
          <a href="{% url 'search_recipes' %}" class="link">
            <ion-icon name="search-outline"></ion-icon>
            <span style="--i: 3">search</span>
          </a>
        </li>

        <li class="link-item {% if current_url == '/bookmarks/' %}active{% endif %}">
          <a href="{% url 'view_bookmark' %}" class="link">
            <ion-icon name="bookmark-outline"></ion-icon>
            <span style="--i: 5">bookmarks</span>
          </a>
        </li>

        <li class="link-item {% if current_url == '/upload_recipe/' %}active{% endif %}">
          <a href="{% url 'upload_recipe' %}" class="link">
            <ion-icon name="cloud-upload-outline"></ion-icon>
            <span style="--i: 7">Upload Recipe</span>
          </a>
        </li>

        <li class="link-item {% if current_url == '/feedback/' %}active{% endif %}">
          <a href="{% url 'feedback' %}" class="link">
            <ion-icon name="chatbubble-outline"></ion-icon>
            <span style="--i: 9">Feedback</span>
          </a>
        </li>

        <li class="link-item {% if current_url|starts_with:'/profile/' %}active{% endif %}">
          <a href="{% url 'profile' username=user.username %}" class="link">
            <ion-icon name="person-outline"></ion-icon>
            <span style="--i: 11">Profile</span>
          </a>
        </li>

        <li class="link-item {% if current_url == '/settings/' %}active{% endif %}">
          <a href="{% url 'settings' %}" class="link">
            <ion-icon name="settings-outline"></ion-icon>
            <span style="--i: 13">Settings</span>
          </a>
        </li>

        <li class="link-item">
          <a href="{% url 'logout' %}" class="link">
            <ion-icon name="log-out-outline"></ion-icon>
            <span style="--i: 15">Logout</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="main-content">
      {% block content %}{% endblock %}
    </div>
  </div>

  {% block java_static %}{% endblock %}
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="{% static 'base/js/base.js' %}"></script>
</body>

</html>
