<div class="card">
    <div class="video-container">
          {% if recipe.video %}
          <video  width="323px" height="188px" class="recipe-video" controls>
            <source src="{{ recipe.video.url }}" type="video/mp4">
         Your browser does not support the video tag.
        </video>
          {% elif recipe.photo %}
          <div class="image">
            <img src="{{ recipe.photo.url }}" alt="{{ recipe.recipe_name }}">
          </div>
          {% else %}
          <p style="text-align: center; padding: 80px;">No media available</p>
          {% endif %}
        </div>
    <div class="card-content">
        <h3>{{ recipe.recipe_name }}</h3>
        <p>Dish Type: {{ recipe.dishType }}</p>
        <p>Created at: {{ recipe.created_at }}</</p>
        <a href="{% url 'view_recipe' recipe.id %}" class="btn">View Recipe</a>
    </div>
</div>