{% extends 'base/base.html' %}

{% block title %}Search Recipes{% endblock %}

{% load static %}
{% block css_static %}
<link rel="stylesheet" href="{% static 'base/css/cards.css' %}">
<link rel="stylesheet" href="{% static 'search/css/search_recipes.css' %}">
{% endblock %}

{% block content %}
<header>
    <h1>Search Recipes</h1>
</header>
<div class="container-search">
    <main>
        <form method="GET" action="{% url 'search_recipes' %}">
            <div class="search-filter">
                <input type="text" id="searchInput" name="title" placeholder="Search..." value="{{ request.GET.title }}">
                <select id="filterSelect" name="dishType">
                    <option value="">All Dish Types</option>
                    {% for category in categories %}
                    <option value="{{ category.dishtype }}" {% if category.dishtype == selected_dish_type %}selected{% endif %}>{{ category.dishtype }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
        <section>
            <h2 style="color: #fff;">Result</h2>
            <div class="card-container">
                {% for recipe in recipes %}
                {% include 'base/cards.html' %}
                {% empty %}
                <p>No recipes found.</p>
                {% endfor %}
            </div>
        </section>
    </main>
</div>
{% endblock %}

{% block java_static %}
<script src="{% static 'search/js/search_recipes.js' %}"></script>
{% endblock %}
