.container-search {
    margin: 0 auto;
    padding: 0 15px;
}

header {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.search-filter {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#searchInput {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    z-index: 2;
    background: rgba(255, 255, 255, 0.4); /* Semi-transparent background */
    border-radius: 15px; /* Optional: Rounded corners */
}

input#searchInput::placeholder {
    color: black;
}


#filterSelect {
    padding: 8px;
    z-index: 2;
    background: rgba(255, 255, 255, 0.4); /* Semi-transparent background */
    border-radius: 15px; /* Optional: Rounded corners */
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: 323px; /* Adjust width as needed */
    overflow: hidden;
    z-index: 2;
    background: rgba(255, 255, 255, 0.4); /* Semi-transparent background */
    border-radius: 15px; /* Optional: Rounded corners */
}

.video-container img, .video-container video {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 10px;
    overflow: hidden;
}

.btn {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #444;
}
