{% if user.is_authenticated %}
    {% if is_bookmarked %}
        <!-- Unbookmark button -->
        <form method="post" action="{% url 'unbookmark' recipe.id %}">
            {% csrf_token %}
            <button type="submit">Unbookmark</button>
        </form>
    {% else %}
        <!-- Bookmark button -->
        <form method="post" action="{% url 'bookmark' recipe.id %}">
            {% csrf_token %}
            <button type="submit">Bookmark</button>
        </form>
    {% endif %}
{% endif %}
