<!DOCTYPE html>
<html>
<head>
    <title>View Bookmarks</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'base_card/cards.css' %}">
    <link rel="stylesheet" href="{% static 'bookmarks/view_bookmark.css' %}">
</head>
<body>
    <h1>Your Bookmarked Recipes</h1>
    <section>
        <div class="card-container">
            {% for recipe in recipes %}
            {% include 'base_card/cards.html' %}
            {% empty %}
            <p>Create a bookmarks.</p>
            {% endfor %}
        </div>
    </section>
</body>
</html>
