{% extends 'base/base.html' %}
{% block title %}View Bookmarks{% endblock %}

{% block css_static %}
{% load static %}
<link rel="stylesheet" href="{% static 'base/css/cards.css' %}">
<link rel="stylesheet" href="{% static 'bookmarks/css/view_bookmark.css' %}">
{% endblock %}

{% block content %}
<header>
    <h1>Bookmarked Recipes</h1>
</header>
<section>
    <div class="card-container">
        {% for recipe in recipes %}
        {% include 'base/cards.html' %}
        {% empty %}
        <h1 style="color: #fff;">Create a bookmarks.</h1>
        {% endfor %}
    </div>
</section>
{% endblock %}