<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
</head>

<body>
    <h2>Login</h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <div>
            {{ form.username.label }}
            <input type="text" id="{{ form.username.id_for_label }}" name="{{ form.username.name }}">
            {% if form.username.errors %}
            <div class="error">{{ form.username.errors }}</div>
            {% endif %}
        </div>

        <div>
            {{ form.password.label }}
            <input type="password" id="{{ form.password.id_for_label }}" name="{{form.password.name}}">
            {% if form.password.errors %}
            <div class="error">{{ form.password.errors }}</div>
            {% endif %}
        </div>

        <input type="submit" value="Login">
    </form>
    <script>
        if (document.body.classList.contains('logged-in')) {
            window.location.href = "{% url 'homes' %}";
        }
    </script>
</body>

</html>