<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'users/css/signin_signup.css' %}">
    <title>RecipeRave & Registration</title>
</head>

<body>
    <div class="wrapper">
        <nav class="nav">
            <div class="nav-logo">
                <p>RecipeRave</p>
            </div>
            <div class="nav-menu" id="navMenu">
                <ul>
                    <li><a href="{% url 'index' %}" class="link">Home</a></li>
                </ul>
            </div>
            <div class="nav-button">
                <button class="btn white-btn" onclick="window.location.href='{% url 'login' %}';">Sign In</button>
                <button class="btn" onclick="window.location.href='{% url 'register' %}';">Sign Up</button>
            </div>
            <div class="nav-menu-btn">
                <i class="bx bx-menu" onclick="myMenuFunction()"></i>
            </div>
        </nav>
        
        {% include 'base/error.html' %}

        <!----------------------------- Form box ----------------------------------->
        <div class="form-box">
            {% if form_type == "login" %}
            <!------------------- login form -------------------------->

            <div class="login-container" id="login">
                <div class="top">
                    <span>Don't have an account? <a href="{% url 'register' %}">Sign Up</a></span>
                    <header>Login</header>
                </div>
                <form id="LoginForm" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="input-box">
                        <input type="text" class="input-field" id="username" name="username" placeholder="Username" required>
                        <i class="bx bx-user"></i>
                    </div>
                    <div class="input-box">
                        <input type="password" class="input-field" id="password" name="password" placeholder="Password" required>
                        <i class="bx bx-lock-alt"></i>
                    </div>

                    <div class="input-box">
                        <input type="submit" name="login" class="submit" value="Sign In">
                    </div>

                    <div class="two-col">
                        <div class="one">
                            <input type="checkbox" id="remember_me" name="remember_me">
                            <label for="remember_me"> Remember Me</label>
                        </div>
                        <div class="two">
                            <label><a href="{% url 'forgot_password' %}">Forgot password?</a></label>
                        </div>
                    </div>
                </form>
            </div>

            {% elif form_type == "register" %}
            <!------------------- registration form -------------------------->
            <div class="register-container" id="register">
                <div class="top">
                    <span>Have an account? <a href="{% url 'login' %}">Login</a></span>
                    <header>Sign Up</header>
                </div>

                <form id="RegForm" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="two-forms">
                        <div class="input-box">
                            <input type="text" class="input-field" placeholder="First Name" id="first_name" name="first_name" required>
                            <i class="bx bx-user"></i>
                        </div>
                        <div class="input-box">
                            <input type="text" class="input-field" placeholder="Last Name" id="last_name" name="last_name" required>
                            <i class="bx bx-user"></i>
                        </div>
                    </div>
                    <div class="input-box">
                        <input type="text" class="input-field" placeholder="Username" id="username" name="username" required>
                        <i class="bx bx-user"></i>
                    </div>
                    <div class="input-box">
                        <input type="email" class="input-field" placeholder="Email" id="email" name="email" required>
                        <i class="bx bx-envelope"></i>
                    </div>
                    <div class="input-box">
                        <input type="password" class="input-field" placeholder="Password" id="password1" name="password1" required>
                        <i class="bx bx-lock-alt"></i>
                    </div>
                    <div class="input-box">
                        <input type="password" class="input-field" placeholder="Confirm Password" id="password2" name="password2" required>
                        <i class="bx bx-lock-alt"></i>
                    </div>
                    <div class="input-box">
                        <input type="submit" name="register" class="submit" value="Register">
                    </div>
                </form>
                <div class="two-col">
                    <div class="one">
                        <input type="checkbox" id="register-check">
                        <label for="register-check"> Remember Me</label>
                    </div>
                    <div class="two">
                        <label><a href="#">Terms & Conditions</a></label>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <script>

        function myMenuFunction() {
            var i = document.getElementById("navMenu");

            if (i.className === "nav-menu") {
                i.className += " responsive";
            } else {
                i.className = "nav-menu";
            }
        }
    </script>

</body>

</html>
