<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="." method="post">
        {% csrf_token %}

        {{ user_form.first_name.label }}
        <input type="text" id="{{ user_form.first_name.id_for_label }}" name="{{user_form.first_name.name}}">
        {% if user_form.first_name.errors %}
        <div class="error">{{ user_form.first_name.errors }}</div>
        {% endif %}

        {{ user_form.last_name.label }}
        <input type="text" id="{{ user_form.last_name.id_for_label }}" name="{{user_form.last_name.name}}">
        {% if user_form.last_name.errors %}
        <div class="error">{{ user_form.last_name.errors }}</div>
        {% endif %}

        {{ user_form.username.label }}
        <input type="text" id="{{ user_form.username.id_for_label }}" name="{{user_form.username.name}}">
        {% if user_form.username.errors %}
        <div class="error">{{ user_form.username.errors }}</div>
        {% endif %}

        {{ user_form.email.label }}
        <input type="email" id="{{ user_form.email.id_for_label }}" name="{{user_form.email.name}}">
        {% if user_form.email.errors %}
        <div class="error">{{ user_form.email.errors }}</div>
        {% endif %}

        {{ user_form.password1.label }}
        <input type="password1" id="{{ user_form.password1.id_for_label }}" name="{{user_form.password1.name}}">
        {% if user_form.password1.errors %}
        <div class="error">{{ user_form.password1.errors }}</div>
        {% endif %}

        {{ user_form.password2.label }}
        <input type="password" id="{{ user_form.password2.id_for_label }}" name="{{user_form.password2.name}}">
        {% if user_form.password2.errors %}
        <div class="error">{{ user_form.password2.errors }}</div>
        {% endif %}

        <button type="submit">submit</button>

    </form>
    <script>
        if (document.body.classList.contains('logged-in')) {
            window.location.href = "{% url 'homes' %}";
        }
    </script>
</body>
</html>