.container-up-recipe {
    margin: 40px;
}

.row-upload {
    max-width: 600px;
    margin: auto;
    padding: 1em;
    border: 1px solid #ccc;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.4); /* Semi-transparent background */
    border-radius: 15px; /* Optional: Rounded corners */
}

header {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

div.form-group {
    margin-bottom: 1em;
}

label {
    display: block;
    margin-bottom: .5em;
    color: black;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: .5em;
    font-size: 1em;
    border: 1px solid #ccc;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
    border-radius: 15px; /* Optional: Rounded corners */
}

input[type="file"] {
    padding: .5em;
}

.delete-step {
    padding: 0.5em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: .25em;
    cursor: pointer;
    margin: 10px;
}

.recipe-add {
    padding: 0.5em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: .25em;
    cursor: pointer;
    margin: 10px;
}

.upload-recipe {
    padding: 0.7em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: .25em;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}